<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("datecompare-validator.date.label"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <select id="date1FieldsList" name="date1FieldsList">
            #foreach ($val in ${val-date1FieldsList})
	                <option value="${val.id}">$textutils.htmlEncode(${val.name})</option>
            #end
        </select>
		        <br><font size="1">$i18n.getText("datecompare-validator.date.description")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("datecompare-validator.condition.label"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <select id="conditionList" name="conditionList">
            #foreach ($val in ${val-conditionList})
	                <option value="${val.id}">$textutils.htmlEncode(${val.value})</option>
            #end
        </select>
		        <br><font size="1">$i18n.getText("datecompare-validator.condition.description")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("datecompare-validator.compare.label"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <select id="date2FieldsList" name="date2FieldsList">
            #foreach ($val in ${val-date2FieldsList})
	                <option value="${val.id}">$textutils.htmlEncode(${val.name})</option>
            #end
        </select>
		        <br><font size="1">$i18n.getText("datecompare-validator.compare.description")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("datecompare-validator.timepart.label"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <select id="includeTimeList" name="includeTimeList">
            #foreach ($val in ${val-includeTime})
	                <option value="${val.id}">$textutils.htmlEncode(${val.value})</option>
            #end
        </select>
		        <br><font size="1">$i18n.getText("datecompare-validator.timepart.description")</font>
    </td>
</tr>
