.jsuLocation .jsuMap, .jsuLocation .jsuHideMap, .jsuLocation .jsuMapNotFound  {
    display: none
}

.jsuLocation .jsuMap {
    width: 100%;
    height: 300px
}

.jsuLocation.notFound .jsuMapNotFound {
    text-align: center;
}

.jsuLocation .jsuHideMap {
    float: right
}

.jsuLocation.open .jsuHideMap, .jsuLocation.open .jsuMap, .jsuLocation.notFound .jsuMapNotFound {
    display: block
}

.type-locationtextfield, .type-locationselect , .type-directionsfield {
    display: block !important;
}