#if(${val-groupsListSelected})
  #if (${val-groupsListSelected.isEmpty()})
    $i18n.getText("userisinanygroups-condition-view.empty.text")
  #else
    $i18n.getText("userisinanygroups-condition-view.condition.text")
    #foreach ($singleValue in ${val-groupsListSelected})
      <b>$!singleValue.getName()</b>#if ($velocityCount != ${val-groupsListSelected.size()}), #end
    #end
  #end
#end
